body {
    margin: 0;
}
/* Header------------------------------------------------ */

.header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    border: 1px solid #756c6c;
}

.header .headerContent {
    /* width: 100%; */
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    text-decoration-line: none;
    -moz-text-decoration-line: none;
    /* background-color: #230de7; */
    position: relative;
    left: 100px;
}

.imageIcon{
    width:60px;
}


.headerContent .ClassIcon {
    /* background-color: rgb(255, 255, 255); */
    /* padding-left: 70px; */
}


.headerContent .ClassLogo {
    /* background-color: #FF0; */
    width: 100px;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ClassLogo .Alinco {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    /* background-color: rgb(39, 204, 135); */
}

.ClassLogo .Electronic {
    width: 100%;
    font-size: 1.4rem;
    /* background-color: rgb(62, 34, 224); */
}

.Alinco:hover,.Electronic:hover{
    font-size: 1.6rem;
}

/* Content------------------------------------------------ */

.content {
    width: 100%;
    /* height: 800px; */
    flex: auto;
    /* background-color: rgb(243, 243, 243); */
    display: flex;
    justify-content: left;
}

.content .ClassMenu {
    background-color: #d9dfdc8f;
    width: 250px;
    min-width: 250px;
    /* height: 100%; */
    flex: auto;
    border-right: #756c6c 1px solid;
}

.ClassMenu .ClassMenuItemGroup {
    /* border: 1px solid #3b3737; */
    border-bottom: #b1aaaa 1px solid;
    /* border-left: #756c6c 1px solid; */
    /* border-right: #756c6c 1px solid; */
}

.ClassMenuName:hover{
    background-color: rgba(0, 255, 0, 0.2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ClassMenuItemGroup:hover{
    border-right: #3a08f0 5px solid;
    background-color: rgba(0, 255, 0, 0.1);
}

.ClassMenuItemGroup .ClassMenuItem {
    padding: 0;
    width: 100%;
    height: 60px;
    /* background-color: #b1d3c58f; */
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
    box-sizing: border-box;
}

.ClassMenuIcon {
    padding: 10px;
    width: 30px;
    /* background-color: #3a08f0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ClassMenuName {
    width: 100%;
    height: 50px;
    padding: 0px;
    font-size: 1.2rem;
    display: flex;
    align-content: center;
    align-items: center;
    padding-left: 5px;
    box-sizing: border-box;
    text-decoration-line: none;
    -moz-text-decoration-line: none;
}





/*  */

.content .ClassContent {
    /* background-color: #756c6c; */
    width: 100%;
    height: 100%;
    flex-direction: row;
    box-sizing: border-box;
}

.ClassTabContent {
    /* .ClassContent */
    border-bottom: 1px solid #757272;
    /* border-top: 1px solid #757272; */
    /* background-color: #c4bdbd; */
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* margin-left: 40px; */
}

.ClassLinkMenu {
    /*  */
    margin-left: 40px;
    /* background-color: #d3b718; */
    height: 50px;
    /* width: 100%; */
    display: inline-flex;
    align-items: flex-start;
    justify-content: start;
    padding: 10px;
}

.ClassLink1,
.ClassLink2 {
    display: block;
    background-color: #eeeee4;
    /* padding: 5px; */
    /* margin: 5px; */
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;

}

.ClassLink1:hover{
    text-decoration-line:underline;
    -moz-text-decoration-line:underline;
}

.ClassTabName {
    /* background-color: #dbe91b8f; */
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
}

.ClassTabName1 {
    /* background-color: #1b29e98f; */
    padding: 20px;
}

.ClassTabName2 {
    /* background-color: #f026698f; */
    padding: 20px;
}
.ClassTabName1:hover,.ClassTabName2:hover{
    border-bottom: #230de7 2px solid;
    background-color:rgba(0, 0, 255, 0.1);
    box-sizing: border-box;
}

.ClassContent .ClassListContent {
    border: 1px solid #998d8d;
    box-sizing: border-box;
    /* background-color: #0c4ad18f; */
    height: calc(100% - 100px - 40px);
    width: calc(100% - 40px);
    margin: 40px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.ClassMakeNew {
    display: flex;
    justify-content: flex-end;
    /* background-color: #4ec24e; */
    color: #fff;
    width: 100%;
    height: 90px;
}

.MakeNewContent {
    justify-content: center;
    align-items: center;
    background-color: #4a39e2;
    font-weight: 800;
    border-radius: 10px;
    display: flex;
    color: #fff;
    width: 150px;
    height: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 40px;
    margin-right: 10px;
}

.ClassSetPage {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 90px;
    /* background-color: #5d5696; */
    align-items: center;
    padding-right: 10px;
    box-sizing: border-box;
}

.ClassBefore,
.ClassAfter {
    font-weight: 800;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d8;
    color: rgb(87, 87, 87);
    border: 1px solid rgb(116, 116, 116);
    box-sizing: border-box;
}
.ClassBefore:hover,
.ClassAfter:hover {
    font-size: 1.2rem;
}

.ClassPageNo {
    font-weight: 800;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a39e2;
    color: #fff;
    /* border: 1px solid #2b246d; */
    box-sizing: border-box;
}

.MakeNewContent:hover, .ClassLuuTru:hover, .ClassCapNhat:hover{
    background-color: #d4c21d;
    font-size: 1.1rem;
}

.classListHeader {
    height: 50px;
    width: 100%;
    /* background-color: #4ec24e; */
    display: flex;
    border-top: 1px solid #a9a9ac;
    border-bottom: 1px solid #a9a9ac;
    box-sizing: border-box;
    align-items: center;
}

.classListHeader ul {
    width: 100%;
    margin: 0;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 6fr 2fr 1fr 3.5fr;
    gap: 40px;
    align-items: center;
}

.classListHeader ul li {
    padding: 0%;
    margin: 0%;
    list-style: none;
    /* background-color: rgb(192, 185, 185); */
}

.classListHeader1 {
    /* height: 50px; */
    width: 100%;
    /* background-color: #4ec24e; */
    display: flex;
    /* border-bottom: 1px solid #a9a9ac; */
    box-sizing: border-box;
}

.classContent {
    /* height: 50px; */
    width: 100%;
    /* background-color: #4ec24e; */
    display: flex;
    border-bottom: 1px solid #dfdfe7;
    box-sizing: border-box;
}

.classContent ul {
    width: 100%;
    margin: 0;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 6fr 2fr 1fr 3.5fr;
    gap: 40px;
    align-items: center;
}

.classContent ul li {
    padding: 0%;
    margin: 0%;
    list-style: none;
    /* background-color: rgb(192, 185, 185); */
}

.ButtonEdit {
    display: flex;
    justify-content: flex-end;
}

.ClassLuuTru,
.ClassCapNhat {
    font-weight: 800;
    color: #fff;
    width: 100px;
    height: 40px;
    background-color: #4a39e2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    box-sizing: border-box;
}

.ButtonEditTmp {
    display: flex;
    justify-content: flex-end;
}

.ClassLuuTruTmp,
.ClassCapNhatTmp {
    font-weight: 800;
    color: #fff;
    width: 100px;
    height: 20px;
    /* background-color: #230de7; */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    box-sizing: border-box;
}

.classOption {
    color: #fff;
    height: 40px;
    /* width: 40px; */
    /* width: 150px; */
    position: fixed;
    bottom: 100px;
    right: 0px;
    /* text-align: center; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.classOption1,
.classOption2 {
    padding: 0px;
    margin: 0px;
}

.ImageOption{
    background-color: #b9d327;
    padding: 0;
    margin: 0;
    width:50px;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
    border: 1px solid #230de7;
    box-shadow:#756c6c;
    
}
.ImageOption:hover{
    width:70px;
}

.classDev {
    display: flex;
    background-color: red;
    color: #fff;
    height: 40px;
    width: 150px;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    font-weight:bold;
}

.ClassTieuDe {
    color: #230de7;
}


/* Footer------------------------------------------------ */

.footer {
    width: 100%;
    height: 50px;
    background-color: #000;
    display: flex;
    justify-content: center;
}

.footerCenter {
    color:white;
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    flex-direction: column;
}